:root {
    --text-field-color: rgba(255, 140, 0);
    --error-message-color: rgba(220, 20, 60, 0.75);
    --light-color: whitesmoke;
    --dark-color: #171717;
    --button-hover-color: #BFBFBF;
}

* {
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: var(--dark-color);
}

.no-display {
    display: none;
}

.container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flow-column {
    flex-flow: column;
}

.flow-row {
    flex-flow: row;
}

.button {
    border: 0px;
    background-color: var(--light-color);
    border-radius: 10px;
    text-align: center;
    width: 100px;
    height: 75px;
    cursor: pointer;
    padding: 0px;
    margin: 10px;
}

button:focus {
    outline: 0;
}

button:hover {
    background-color: var(--button-hover-color);
}

#word-display-area {
    padding: 25px 25px;
}

.form-container {
    padding: 10px;
}

#choices-container {
    background-color: var(--light-color);
    border-radius: 10px;
    min-width: 325px;
    margin: 10px;
}

input[type=number]{
    width: 80px;
} 

.svg-icon {
    width: 20px;
    padding: 5px;
}

.text-with-icon {
    font-size: 20px;
    padding: 5px;
}

#question-icon {
    width: 20px;
}

.stimulus-number-container {
    position: relative;
    display: inline-block;
}

#quantity-information {
    background-color: var(--text-field-color);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-size: 10px;
    display: none;
    transform: translateX(71%) translateY(-100%);
    position: absolute;
    width: 25vw;
}

#question-icon #quantity-information {
    position: absolute;
}

.numpad-number {
    font-size: 15px;
    background-color: var(--light-color);
    border-radius: 5px;
    width: 25px;
    text-align: center;
}

.numpad-word-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.button-container {
    display: flex;
}

.time-container {
    margin: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.time-title {
    color: var(--light-color);
}

.time-div {
    background-color: var(--text-field-color);
    border-radius: 10px;
    text-align: center;
    margin: 10px 25px;
    padding: 10px;
    width: 200px;
}

#download-button {
    padding: 10px;
    width: 175px;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#download-button:hover {
    background-color: #BFBFBF;
}

#download-button:link, #download-button:hover, #download-button:visited, #download-button:active {
    color: black;
}



#error-container {
    padding: 10px;
    width: 200px;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--error-message-color);
    border-radius: 10px;
    position: absolute;
    top: 5%;
    left: 3%;
}

#error-message {
    font-size: 20px;
    height: auto;
    text-align: center;
    padding: 5px;
}

.no-visibility {
    visibility: hidden;
}